*{
  box-sizing: border-box;
}
html{
  --color-brand-1: 58, 51, 169;
  --color-brand-2: 135, 59, 169;
  --color-brand-3: 108, 99, 255;
  --color-brand-4: 71, 88, 160;
  --color-brand-5: 108, 99, 255;
  --site-width: 1200px;
  --curve-radius: .4rem;
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}
body{
  margin: 0;
  font: 1.8rem/1.5 'Sen';
}
.wrap{
  width: 90%;
  max-width: var(--site-width);
  margin: auto;
}
